{% extends "layout.html" %}
{% block content%}
	<div class="content-section">
    <form method="POST" action="">
    {{ form.hidden_tag()}}

    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Tag edit</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label")}}
                        {% if form.name.errors%}
                            {{ form.name (class="form-control col-sm-6 is-invalid")}}
                            <span class="invalid-feedback">Please enter the tag name!</span>
                        {% else%}
                            {{ form.name (class="form-control col-sm-6")}}
                        {% endif %}
                    
                </div>

                <div class="form-group">
                    {{ form.IP_1.label(class="form-control-label")}}
                        {% if form.IP_1.errors%}
                            {{ form.IP_1 (class="form-control col-sm-6 is-invalid")}}
                            <span class="invalid-feedback">Please enter the tag node!</span>
                        {% else%}
                            {{ form.IP_1 (class="form-control col-sm-6")}}
                        {% endif %}
                    
                </div>

    </fieldset>
        <div class="form-group">
            <form method="POST" action="{{url_for('stationEdit',station_id=station.id)}}">
                <input class = "btn btn-danger" type="submit" name="" value="edit">
            </form>
        </div>

</form>

</div>

{% endblock content %}